{$CMMS_DOMAIN}, www.{$CMMS_DOMAIN} {
  @root host {$CMMS_DOMAIN}
  redir @root https://www.{$CMMS_DOMAIN}{uri} permanent

  encode gzip zstd

  @api path /api/*
  reverse_proxy @api server:4001
  reverse_proxy client:80
}
