{$CMMS_DOMAIN}, www.{$CMMS_DOMAIN} {
  @www host www.{$CMMS_DOMAIN}
  redir @www https://{$CMMS_DOMAIN}{uri} permanent

  encode gzip zstd

  @api path /api/*
  reverse_proxy @api server:4001
  reverse_proxy client:80
}
